.home {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
}
