@use "../../app.scss" as v;

.home {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-color: #0b0d19;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;

  .text-home {
    width: 60%;
    padding: 20% 0 0 15%;
    h1 {
      font: v.$title-font-h1;
      color: v.$white-default-color;
    }
    h5 {
      font-size: 1.75rem;
      letter-spacing: 4.75px;
      font-family: "Barlow Condensed", sans-serif;
      color: #d0d6f9;
    }
  }
  .button-box {
    width: 40%;
    display: flex;
    text-align: center;

    .button {
      transition: 0.5s;
      border-radius: 50%;
      display: flex;
      align-self: flex-end;
      margin-bottom: 30%;
      width: 275px;
      height: 275px;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 1);
      color: black;
      cursor: pointer;
      h2 {
        width: 100%;
        align-self: center;
        text-align: center;
        font-family: "Bellefair" sans-serif;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 2px;
      }
      :hover {
        box-shadow: 0px 0px 37px 62px rgba(#ffffff, 0);
      }
    }
    :hover {
      transition: 0.5s;
      box-shadow: 0px 0px 0px 80px rgba(255, 255, 255, 0.089);
    }
  }
}
