@use "../../app.scss" as v;

.crew {
  background-color: #0b0e17;
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-position: top;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  color: white;
  padding: 2% 10%;
  width: 100%;
  .crewWrapper {
    display: flex;
    width: 100%;
    height: auto;

    .crewDescription {
      width: 50%;
      padding: 4% 5% 0 6%;

      h4 {
        font: v.$title-font-h4;
        text-transform: uppercase;
        line-height: 36px;
        font-weight: 400;
        opacity: 0.5;
        padding: 5% 0 0 0;
      }
      h3 {
        width: 140%;
        font: v.$title-font-h3;
        font-weight: 400;
        line-height: 64px;
        text-transform: uppercase;
        padding: 2% 0 5% 0;
      }
    }
    .changePilot {
      display: flex;
      width: 20%;
      padding: 20% 0 0 0;
      cursor: pointer;
      button {
        margin: 0 auto 0 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 0;
        background-color: rgb(255, 255, 255);
        opacity: 0.17;
        cursor: pointer;
      }
      :hover {
        transition: 0.2s;
        opacity: 0.5;
      }
    }
    .crewPhoto {
      width: 50%;
      .photoBox {
        width: 100%;
        height: auto;
        // background-color: blue;
        height: calc(100vh - 55.3%);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
.active {
  opacity: 1 !important;
}
