@use "../../app" as v;

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  display: flex;
  margin: 0 auto;
  margin-right: 0;
  padding: 2% 0;
  .icon {
    width: 40%;
    display: flex;
    color: white;
    .logo {
      display: flex;
      width: 20%;
      height: 100px;
      border-radius: 75%;
      a {
        width: 100%;
        align-self: center;
      }
      .logo-svg {
        width: 60px;
        height: 60px;
        background-color: v.$white-default-color;
        background-image: url("../../assets/shared/logo.svg");
        background-size: contain;
        background-position: center;
        border-radius: 50%;
      }
    }
    .line-box {
      align-self: center;
      width: 80%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .line {
        width: 100%;
        height: 2px;
        margin-right: -15%;
        backdrop-filter: blur(81.55px);
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 1;
      }
    }
  }
  .nav {
    width: 60%;
    display: flex;
    background-color: v.$nav-background-color;
    backdrop-filter: blur(81.55px);
    background-color: rgba(151, 151, 151, 0.04);
    nav {
      width: 100%;
      height: 100%;
      vertical-align: center;
      ul {
        height: 100%;
        display: flex;
        text-align: center;
        list-style: none;
        li {
          width: 100%;
          display: flex;
          height: 100%;

          a {
            display: flex;
            height: 100%;
            margin: 0 auto;
            text-decoration: none;
            color: white;
            font: v.$nav-font;
            letter-spacing: v.$letter-spacing-nav;

            h4 {
              font-weight: normal;
              align-self: center;
              border-bottom: 0;
              span {
                font-weight: bold;
              }
            }
            :hover {
              border-bottom: 0;
            }
          }
          :hover {
            transition: 0.1s;
            border-bottom: 5px solid rgba(255, 255, 255, 0.383);
          }
        }
      }
    }
  }
}

.active {
  border-bottom: 5px solid rgba(255, 255, 255, 1);
}
