.technologyScreen {
  background-color: #0b0e17;
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-position: top;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  color: white;
  padding: 8% 10%;
  width: 100%;
}
