* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

//VARIABLES - COLORS

$black-default-color: #0b0d17;
$cyan-default-color: #d0d6f9;
$white-default-color: #ffff;
$nav-background-color: #979797;

$title-font-h1: 9rem "Bellefair", serif;
$title-font-h2: 6.25rem "Bellefair", serif;
$title-font-h3: 3.5rem "Bellefair", serif;
$title-font-h4: 2rem "Bellefair", serif;
$title-font-h5: 1.75rem "Barlow Condensed", sans-serif;
$title-text-font: 1rem "Barlow Condensed", sans-serif;
$text-font: 1.125rem "Barlow Condesed", sans-serif;

$text-line-height: 2rem;
$letter-spacing-h5: 0.3rem;
$letter-spacing-h2: 0.25rem;
$letter-spacing-nav: 0.27rem;

$subtitle-font-h1: 1.75rem "Bellefair", serif;
$subtitle-font-h2: 0.875rem "Barlow Condensed", sans-serif;

$nav-font: 1rem "Barlow Condensed", sans-serif;

//VARIABLES - DEVICES SIZES
$monitor-three: 1680px;
$monitor-two: 1440px;
$monitor-one: 1280px;

$mobile-four: 1024px;
$mobile-three: 768px;
$mobile-two: 375px;
$mobile-one: 320px;
$mobile-mini: 100px;
